<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Auth App</title>
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
        crossorigin="anonymous"
    >
    
</head>
<style>
    body { padding-top: 80px; }
</style>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h2 class="display-1 lead">Node Authentication</h2>
            <h3 class="lead">Login or Register with:</h4>
            <a href="/auth/google" class="btn btn-danger">Login with Google</a>
        </div>
    </div>
</body>
</html>